.login {
  margin: 12rem auto;
  max-width: 60%;
  padding: 1rem 1rem;
  border-radius: 5px;
  border: 1px solid black;
}
.login input {
  width: 95%;
  margin-bottom: 2rem;
  border: 1px solid red;
}
.btn-login {
  width: 100%;
  margin: 0;
  font-size: 1.8rem;
  color: #012;
  border-radius: 5px;
}
